body{
    height: 100vh;
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/151/036/non_2x/light-blue-pink-orange-and-purple-gradient-background-vector.jpg);
}

.center {
    display: flex;
    justify-content: center;
}

.Lexend {
    font-family: Lexend;
}

.title {
    letter-spacing: 7px;
    font-weight: bold;
    font-size: 75px;
}

.card {
    margin: 1% auto;
    border-width: 1px;
    border-color: white;
    width: 35rem;
}

.card-img {
    height: 35rem;
    object-fit: cover;
}

.btn {
    border: none;
    background: none;
    letter-spacing: 1px;
    height: 50px;
}

.btn:hover {
    background-color: rgb(235, 235, 235);
    transition: 0.7s;
    letter-spacing: 5px;
}

.btn:not(:hover) {
    transition: 0.7s;
    letter-spacing: 1px;
}

#generate{
    border-radius: 0 0 5px 5px;
}

/* Cat-Head Animations */

.cat-head {
    width: auto;
    height: auto;
    animation: spinningCat 8s linear infinite;
}

@keyframes spinningCat{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}